/TestVS/.vs/TestVS/v16/Server/sqlite3/db.lock
/TestVS/.vs/TestVS/v16/Server/sqlite3/storage.ide
/TestVS/.vs/TestVS/v16/Server/sqlite3/storage.ide-shm
/TestVS/.vs/TestVS/v16/Server/sqlite3/storage.ide-wal
